@page "/ChangePassword";
@using Helper.Helpers;
@using Helper.ObjectsToApi;
@using System.Text.Json;
@inject HttpClient HttpClient;
@inject NavigationManager navigationManager;
@inject AuthService AuthService;


<div class="container">
    <div class="marginTop item">
        <label for="OldPassword">Current password:</label>
        <input type="password" class="passwordInput" id="currentPassword" @bind="CurrentPassword" />
    </div>
    <div class="item">
        <label for="NewPassword">New password:</label>
        <input type="password" class="passwordInput" id="NewPassword" @bind="NewPassword" />
    </div>
    @if (incorrectPassword) {
        <div>Incorrect password</div>
    }
    <div class="buttonDiv" @onclick="ChangePasswordFunction">Change Password</div>
</div>

@code {
    private string CurrentPassword { get; set; }
    private string NewPassword { get; set; }
    private bool incorrectPassword { get; set; } = false;
    private async void ChangePasswordFunction(MouseEventArgs args)
    {
        var newPassword = new NewPassword();
        newPassword.OldPasswordHash = HelperFunctions.HashPassword(CurrentPassword);
        newPassword.NewPasswordHash = HelperFunctions.HashPassword(NewPassword);
        newPassword.PersonId = AuthService.Person.Id;

        var response = await HttpClient.PostAsync("/api/changePassword", new StringContent(JsonSerializer.Serialize(newPassword)));

        if ((int) response.StatusCode == 200) {
            navigationManager.NavigateTo("/UserHome"); 
        } else if ((int) response.StatusCode == 405) {
            incorrectPassword = true;
            CurrentPassword = "";
            NewPassword = "";
            StateHasChanged();
        } else {
            Console.WriteLine($"{response.ToString()}");
            
        }
    }
}

<style>

    .item {
        margin: 20px;
    }
    .marginTop { 
        margin-top: 150px;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .passwordInput {
        display: block;
        min-width: 600px; 
    }

    .priceInput {
        display: block;
        min-width: 150px;
    }

    .buttonDiv {
        color: white;
        background-color: #e74646;
        cursor: pointer;
        text-align: center;
        line-height: 50px;
        border-radius: 50px;
        min-width: 200px;
        min-height: 50px;
        margin: 20px
    }

    .buttonDiv:hover {
        background-color: #57423f;
}

</style>