@page "/";
@using Helper.Helpers;
@using Helper.ObjectsToApi;
@using System.Text.Json;
@using DB.models;
@using ExpenseManager;
@inject HttpClient HttpClient;
@inject AuthService AuthService;
@inject NavigationManager navigationManager;

<div class="container">
    <h1>Login</h1>

    <div class="item">
        <label>Username: </label>
        <input type="text" @bind="usernameValue">
    </div>

    <div class="item">
        <label>Password: </label>
        <input type="password" @bind="passwordValue">
    </div>
    @if (incorrectLogin) {
        <h4>Invalid Credentials</h4>
    }
    <Button ButtonText="Login" onClick="@HandleClick"></Button>
</div>

@code {
    private readonly HttpClient httpClient = new HttpClient { BaseAddress = new Uri("http://localhost:5000") };
    private string usernameValue = "";
    private string passwordValue = "";
    private bool incorrectLogin = false;

    private async void HandleClick(MouseEventArgs args)
    {
        var login = new LoginObject();

        login.Username = usernameValue;

        string passwordHash = HelperFunctions.HashPassword(passwordValue);
        login.PasswordHash = passwordHash;

        var response = await httpClient.PostAsync("/api/login", new StringContent(JsonSerializer.Serialize(login)));

        if ((int)response.StatusCode == 200) {

            string res = await response.Content.ReadAsStringAsync();
            Person? person = JsonSerializer.Deserialize<Person>(res);

            AuthService.Person = person;
            AuthService.IsLoggedIn = true;
            navigationManager.NavigateTo("/home");
        } else {
            incorrectLogin = true;
        }
     
        usernameValue = "";
        passwordValue = "";
    
    }
}
