.sendButton {
    color: white;
    background-color: #e74646;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    min-width: 200px;
    min-height: 50px;
}

.sendButton:hover {
    background-color: #57423f;
}
