@inject IJSRuntime JSRuntime
@inject AuthService AuthService;
@inject NavigationManager NavigationManager;

<div @onclick="Navigate" class="logoutButton">
    Logout
</div>

@code {
    private void Navigate(){
        AuthService.IsLoggedIn = false;
        AuthService.Person = null;
        NavigationManager.NavigateTo("/login");
    }
}

<style>
    .logoutButton {
    color: white;
    margin: 15px;
    text-decoration: none;
    cursor: pointer;
    min-width: 200px;
    min-height: 50px;
    background-color: #e74646;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
}

.logoutButton:hover {
    background-color: #57423f;
}

</style>