<div @onclick="Navigate" class="linkText">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Href { get; set;  }
    [Inject] private NavigationManager NavigationManager { get; set; }

    private void Navigate(){
        NavigationManager.NavigateTo(Href);
    }
}