.linkText {
    color: black;
    margin: 15px;
}

.link {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
