@using Microsoft.AspNetCore.Components.Routing;

    <div class="navContainer">
        <NavButton Href="">Home</NavButton>
        <NavButton Href="counter">Counter</NavButton>
        <NavButton Href="fetchdata">Fetch Data</NavButton>
        <NavButton Href="login">Login</NavButton>
    </div>

@code {}
