@inject AuthService AuthService

@if (AuthService.IsLoggedIn) {
    <div class="navContainer">
        <NavButton Href="counter">Counter</NavButton>
        <NavButton Href="fetchdata">Fetch Data</NavButton>
        <NavButton Href="login">Login</NavButton>
        <LogoutButton></LogoutButton>
    </div>
}

@code {

    protected override void OnInitialized()
    {
        AuthService.OnAuthStateChanged += OnAuthStateChanged;
    }

    private void OnAuthStateChanged()
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        AuthService.OnAuthStateChanged -= OnAuthStateChanged;
    }

}
