@using DB.models;
@inject AuthService AuthService

@if (AuthService.IsLoggedIn) {
    <div class="navContainer">
        @if (AuthService.Person != null && AuthService.Person.Role == Roles.ADMIN) {
            <NavButton Href="CreateUser">Create A User</NavButton>
            <NavButton Href="DeleteUser">Delete A User</NavButton>
        }

        @if (AuthService.Person != null && AuthService.Person.Role == Roles.USER) {
            <NavButton Href="UserHome">Expenses List</NavButton>
            <NavButton Href="AddExpense">Add An Expense</NavButton>
            <NavButton Href="ChangePassword">Change Password</NavButton>
        }
        <LogoutButton></LogoutButton>
    </div>
}

@code {

    protected override void OnInitialized()
    {
        AuthService.OnAuthStateChanged += OnAuthStateChanged;
    }

    private void OnAuthStateChanged()
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        AuthService.OnAuthStateChanged -= OnAuthStateChanged;
    }

}
